
nav {
    display: flex;
    height: 60px;
    align-items:center;
    justify-content:center;  
    background-color:white;
}
#menuIcon
{
    margin-left:10px;
    height: 28px;
}

#logo
{
    margin-left:20px;
    height: 28px;
}

.searchArea
{
    display: flex;
    width: 45%;
    height: 32px;
    margin-left:auto;
    margin-right:auto;

}

#searchTxt {
    width:  80%;
    height: 100%;
    margin-left: 60px;
    font-size: medium;
    padding-left: 10px;
}
#SearchBtn {
    margin-left: 0;
    padding-left: 0;
    height: 100%;
    color: #c6b4b4;
    width: 60px;   
    border: 1px solid #CCCCCC;
    border-left: none;
}
#SearchBtn:hover {
    color: black;
    background-color:#C6C6C6 ;
}

#rightDiv {
    display: flex;
    justify-content: right;
    width: 250px;
    height: 40px;
    right: 10px;
}

.icon {
    height: 22px;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
    
} 

.HoverIcon {
    height: 40px;

}


/**============================================*/

.mainDiv {
    display: flex;
    background-color: #F9F9F9;
    padding-top: 35px;
}

.VideoSection {
    width: 60%;
    margin-left: 10px;
    
}

#Video {
    border-bottom: 2px solid grey;
    padding-bottom: 10px;

}

.YoutubeIframe {
    width: 100%;
    height: 400px;
}

.views {
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    color: grey;
}

.videoIcons {
    width: 150px;
    height: 40px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.VideoIconSize
{
    margin-right: 10px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.ShareBtn {

    background-color: tomato;
    width: 60px;
    height: 32px;
    
}

#Views_and_Icons
{
    height: 40px;
}

.bottomDiv {
    width:100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    background-color: none;
    justify-content: flex-start;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile {
    width: 500px;
    font-weight: 100;
    margin-left: 20px;
}

.Subscribe {
    color: white;
    background-color: red;
    width: 100px;
    height: 32px;
    justify-self: end;
    margin-left: auto;
    margin-right: 4px;
}

.btn {
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.rightSection {
    background-color1: #e0e0e0;
    width:40%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    padding-top1: 2px;
    
}

.thumbDiv {
    margin: 0px 0px 10px 0px;
    
    width: 100% ;
    height: 160px;
    display: flex;

    cursor: pointer;
}
.thumbDiv:hover {
    background-color: #e0e0e0;
    
}

.thumbImg {
    
    width: 50%;
    
}
.thumbImage {
    width:100%;
    height:100%;
}

.thumbDet {
    background-color1: #555555;
    width: 50%;
    margin-left:2px;
    display: flex;
    flex-direction: column;
    padding-top:1px;
    padding-bottom:1px;

}
.thumbTitle {
    background-color1: rgba(150, 150, 150, 0.5);
    margin: 1px 2px 1px 2px;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    
    padding: 10px;
}
.thumbNumViews {
    background-color1: rgba(150, 150, 150, 0.5);
    margin: 1px 2px 1px 2px;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    color:gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding: 10px;

}
.pntr {
    cursor: pointer;
}

.arial {
    font-weight: normal;
    font-family:Arial, Helvetica, sans-serif;
}